body {
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(#d1d1d3 1px, transparent 1px), linear-gradient(to right, #d1d1d3 1px, #ffffff 1px);
  background-size: 6rem 6rem;
  font-family: 'Roboto Mono', monospace;
}

a {
  cursor: pointer;
}

.btn-action {
  background-color: #52B3D1;
  color: black
}


.btn-action:hover, .btn-start-game:hover, .btn-sign-out:hover {
  border: 2px #52B3D1 solid;
  background-color: white;
}

.btn-settings, .btn-about, .btn-score{
  background-color: white;
}

.btn-score:hover {
  background-color: gold;
  color:white;
}

.btn-about:hover {
  background-color: red;
  color:white;
}

.btn-settings:hover {
  background-color: #0341AE;
  color: white;
}

.modal-wrap{
  box-shadow: 10px 10px #E6E2E1;
}

.frame {
  min-width: 80%;
  background-color: #FFBF42;
  outline: none;
  box-shadow: 10px 10px rgba(77, 40, 40, 0.5);
  border-radius: 1em;
  height: 80%;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 900%;;
}

.input-wrapper {
  position: relative;
  top: 190%;
  left: 100%;
}

.profile-input{
  padding: 10% 10% 10% 150%;
  width: 300%;
  font-family: 'Roboto Mono', monospace;
}

.user-icon {
  height: 80%;
  position: absolute;
  left: 59%;
  top: calc(50% - 1.75em);
  color: #52B3D1;
}

.profile-logo {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
  position: absolute;
}

.profile-font, table, .total-lines {
  font-family: 'Roboto Mono', 'monospace';
}

.profile-font {
  left: 40%;
}

.profile-highscore, .total-lines, .trophies {
  outline: none;
  background-color: #FF971C;
  border-radius: 1em;
  position: absolute;
}

.profile-highscore{
  bottom: 5%;
  left: 20%;
}


/* th:not([scope=row]) {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
} */

/* tr:not(:last-child) {
  border-bottom: 3px dashed #000;
} */

tr:nth-last-child {
  padding-bottom: 2%;
}

.col2 {
  text-align: end;
}

td {
  width: 80%;
  height: 100;
  padding: 5% 15% 0% 7%;
}

hr {
  border: 2px dashed #000;
  width: 140%;
  margin: 10% 0 0 15%;
}

.total-lines {
  top: 36%;
  right: 20%;
}

.trophies {
  bottom: 27%;
  right: 20%;
  width: 31%;
}

.trophy-logo {
  color: #E6E2E1;
  padding-right: 2%;
  font-size: 1.5rem;
}

.btn-start-game {
  background-color: #52B3D1;
  color: #000;
  width: 30%;
  position: absolute;
  bottom: 16%;
  right: 20%;
}

.btn-sign-out {
  background-color: #E6E2E1;
  width: 30%;
  position: absolute;
  bottom: 6%;
  right: 20%;
}

.creator-list{
  border-bottom: 3px dashed black;
}

.creator-list:hover{
  color: red;
  border-bottom: 3px dashed red;
}

.tech-list {
  background-color: white;
}

/* High Scores Styling begins here */

.h3-headline {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 30px;
  font-weight: bold;
}

.h4-body {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 20px;
}

.modal {
  height: 465px;
  max-height: 465px;
  width: 615px;
  max-width: 615px;
  min-width: 150px;
}

/* High Scores styling ends here */
