body {
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(#d1d1d3 1px, transparent 1px), linear-gradient(to right, #d1d1d3 1px, #ffffff 1px);
  background-size: 6rem 6rem;
}

.btn-login, .btn-start {
  background-color: #52B3D1;
  color: black
}

.btn-login:hover, .btn-start:hover {
  border: 2px #52B3D1 solid;
  background-color: white;
}

.btn-settings, .btn-about, .btn-score{
  background-color: white;
}

.btn-score:hover {
  background-color: gold;
  color:white;
}

.btn-about:hover {
  background-color: red;
  color:white;
}

.btn-settings:hover {
  background-color: #0341AE;
  color: white;
}

.frame {
  width: 80%;
  background-color: #FFBF42;
  outline: none;
  box-shadow: 7px 7px rgba(77, 40, 40, 0.5);
  transform: translate(-1px, -1px);
  border-radius: 1em;
  height: 80%;
}