body {
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(#d1d1d3 1px, transparent 1px), linear-gradient(to right, #d1d1d3 1px, #ffffff 1px);
  background-size: 6rem 6rem;
}

.btn-action {
  background-color: #52B3D1;
  color: black
}

.btn-action:hover{
  border: 2px #52B3D1 solid;
  background-color: white;
}

.btn-settings, .btn-about, .btn-score{
  background-color: white;
}

.btn-score:hover {
  background-color: gold;
  color:white;
}

.btn-about:hover {
  background-color: red;
  color:white;
}

.btn-settings:hover {
  background-color: #0341AE;
  color: white;
}